<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Project Grande</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;1,500&family=Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>

<body>
<aside class="side-nav" id="show-side-navigation1">
    <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
    <div class="heading">

        <div class="info">
            <h3>
                <a href="#">Data i Zegarek</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>

    <ul class="categories">
        <li>
            <i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#"> About us</a>

        </li>
        <li>
            <i class="fa fa-support fa-fw"></i><a href="#"> Subscribe us</a>
        </li>
        <li>
            <i class="fa fa-envelope fa-fw"></i><a href="#"> Contact us</a>

        </li>
        <li>
            <i class="fa fa-users fa-fw"></i><a href="#"> Our team</a>

        </li>
        <li>
            <i class="fa fa-bolt fa-fw"></i><a href="#"> Moje Inwestycje</a>

        </li>
        <p>Search:</p>
        <li>
            <i class="fa fa-envelope-open-o fa-fw"></i><a href="#"> Wiadomosci </a>
        </li>
        <li>
            <i class="fa fa-wrench fa-fw"></i><a href="#"> Ustawienia </a>

        </li>
        <li>
            <i class="fa fa-laptop fa-fw"></i><a href="#"> Co musisz wiedziec </a>
        </li>
        <li>
            <i class="fa fa-comments-o fa-fw"></i><a asp-controller="Home"asp-action="Chat"> Chat</a>
        </li>
    </ul>
</aside>
<!-- side navbar-.// -->

<section id="contents">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Strefa<span class="main-color">Inwestora</span></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">

                <li class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Konto

                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-user-o fw"></i> Moje konto</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope-o fw"></i> Wiadomosci</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bell-o fw"></i> Inwestycje</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-sign-out"></i> Log out</a>
                            </li>
                        </ul>
                    </button>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-comments"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bell-o"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i>
                    </a>
                </li>

            </div>
        </div>


    </nav>
    <div class="welcome">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h2>Tip of the day</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h2>Kurs Walut z NBP </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="statistics">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>

    <section class="charts">
        <div class="container-fluid">
            <div class="row">
                @RenderBody()
                <div class="col-md-6">
                    <div class="chart-container">
                        <h3 >Wykres</h3>
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="chart-container">
                        <h3>Wykres</h3>
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <footer class="bg-light text-center text-lg-start">
     <!-- Copyright -->
     <div class="text-center p-3" style="background-color:  #535465;;">
       © 2021 Copyright: JGD
       <a class="text-dark" href="https://mdbootstrap.com/">StrefaInwestora</a>
     </div>
     <!-- Copyright -->
   </footer>

</section>

<script src='http://code.jquery.com/jquery-latest.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>

</html>